extends baseEmail

block content
  p Hi #{firstName},
  p Welcome to ESS Portal, we're glad to have you!
  p You're account is activated, Please reset your'e password by clicking "Forgot Password?" in login page with this email address.
  p If you need any help with resetting password, please don't hesitate to contact!
  p - Ajay Kumar C, CEO